/*
 * @Author: GZF
 * @Date: 2025-01-17 21:08:42
 * @Description: Markdown 块引用样式修改
 */
.vp-doc blockquote {
  border-radius: 10px;
  padding: 18px 20px 20px 15px;
  position: relative;
  background-color: var(--vp-c-gray-soft);
  border-left: 6px solid var(--vp-c-green-2);
}
