/*
 * @Author: GZF
 * @Date: 2025-01-17 21:20:14
 * @Description: 隐藏文档页的滚动条、隐藏页脚横条、隐藏手机端菜单栏顶部横条、隐藏手机端菜单栏菜单分割线、隐藏手机端菜单组、隐藏手机端大纲栏横条 */
 */

:root {

  /* 文档页Logo出文字下横条 */
  @media (min-width: 960px) {
      .VPNavBarTitle.has-sidebar .title {
          border-bottom-color: transparent;
      }
  }

  /* 页脚横条隐藏 */
  .VPFooter {
      border-top: none;
  }

  /* 手机端菜单栏顶部横条隐藏 */
  .VPNavBar.screen-open {
      border-bottom: none;
  }

  /* 手机端菜单栏菜单分割线隐藏 */
  .VPNavScreenMenuLink {
      border-bottom: none;
  }

  /* 手机端菜单组隐藏 */
  .VPNavScreenMenuGroup {
      border-bottom: none;
  }

  /* 手机端大纲栏横条隐藏 */
  .VPLocalNav {
      border-bottom: none;
  }

}


/* 导航栏下划线隐藏 */
.divider {
  display: none;
}

/* 全局滚动条隐藏但保持滚动功能 */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

/* Firefox 滚动条隐藏 */
* {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

/* IE 滚动条隐藏 */
* {
  -ms-overflow-style: none;
}
